html {
    font-size: 62.5%;
}

body {
    background-color: RGBA(20, 29, 62, 1);
}

@font-face {
    font-family: "myFont";
    src: "FiraSans-Black.ttf";
}

html {
    font-family: "myFont", sans-serif;
}

span {
    font-size: 2.2rem;
    color: aliceblue;
}

p {
    font-size: 2.2rem;
    color: aliceblue;
    text-align: left;
}

a {
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

.title-name {
    font-size: 3.8rem;

}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: aliceblue;
}

ul {
    text-align: left;
    font-size: 2.2rem;
}

.review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
    overflow: auto;
}

q {
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px black;
}

.name {
    font-weight: bold;
    font-size: 5rem;
}

.links {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3rem;
}


.wrapper>div {
    border-radius: 1.5rem;
    background-color: rgb(10, 85, 199);
    padding: 2.5%;
    border: 0.3rem solid aliceblue;
}

.wrapper {
    margin: 1%;
    display: grid;
    vertical-align: middle;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
}

.box1 {
    grid-row: 1 / 3;
}

.news {
    margin-left: 10rem;
    margin-right: 10rem;
    border: 0.4rem solid aliceblue;
    border-radius: 1.5rem;
    padding: 3%;
    overflow: auto;
    margin-bottom: 5%;
}

.news-title {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news-date {
    text-align: right;
    font-size: 1.5rem;
    color: #cccccc;
}


h3 {
    font-size: 1.9rem;
    color: aliceblue;
}

.wrapper-about {
    display: grid;
    grid-gap: 0.5rem;
}

.logo-about {
    vertical-align: middle;
    height: 7.5rem;
}

.logo {
    vertical-align: middle;
    height: 2.5rem;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    border: 0.4rem solid aliceblue;
    max-width: 85%;
    box-sizing: content-box;
    width: 100%;
}

.song {
    border: 4px solid aliceblue;
    border-radius: 1.5rem;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
}

#all-music>.song {
    border-style: none;
    padding: 0%;
    margin: 0%;

}

#window {
    width: 65%;
    height: 85%;
    text-align: center;
    padding: 1.5rem;
    border: 3px solid aliceblue;
    border-radius: 1rem;
    color: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(10, 85, 199);
    overflow: auto;
}

#review-window:target {
    display: block;
}

.close-window {
    display: inline-block;
    padding: 0.5%;
    border: 3px solid aliceblue;
    border-radius: 1.1rem;
    color: aliceblue;
    margin: 1%;
    text-decoration: none;
    background: #000000;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 79%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}

.close-window:hover {
    background: rgb(87, 87, 87);
}

#review-psychopomp {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#review-psychopomp:target {
    display: block;
}

#review-buckshot-roulette {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#review-buckshot-roulette:target {
    display: block;
}

#news-window {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#news-window:target {
    display: block;
}

#all-reviews-window {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#all-reviews-window:target {
    display: block;
}

#music-window {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#music-window:target {
    display: block;
}

@media (max-width:1024px) {
    .wrapper {
        display: block;
    }

    .wrapper>div {
        margin-bottom: 3%;
    }

    .news {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #window {
        width: 85%;
        height: 80%;
    }

    .song {
        margin-left: 1%;
        margin-right: 1%;
    }

    .close-window {
        top: 9%;
        left: 85%;
        font-size: 3.5rem;
    }
}