* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("../images/zadnik2.png");
    background-size: cover;
    background-position: center;
    background-color: RGB(20, 29, 62);

}

iframe {
    max-width: 100%;
}

footer>p {
    justify-items: center;
    background-color: RGB(20, 29, 62);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.75rem;
}

footer {
    justify-items: center;
    background-color: RGB(20, 29, 62);
}

html {
    font-family: "myFont", sans-serif;
}

span {
    font-size: 2.2rem;
    color: aliceblue;
}

p {
    font-size: 2.2rem;
    color: aliceblue;
    text-align: left;
}

a {
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

.title-name {
    font-size: 3.8rem;
    margin: 2%;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: aliceblue;
}

ul {
    text-align: left;
    font-size: 2.2rem;
    color: aliceblue;
    padding-left: 2%;
}

.review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
    overflow: auto;
}

q {
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px black;
}

.name {
    font-weight: bold;
    font-size: 5rem;
}

.wrapper-main>div {
    background-color: rgba(10, 85, 199, 0.75);
    padding: 2.5%;
    border: 0.3rem solid aliceblue;
}



.box {
    border-radius: 1.5rem;
    background-color: rgba(10, 85, 199, 0.75);
    padding: 2.5%;
    border: 0.3rem solid aliceblue;
}

.wrapper-main {
    margin: 1%;
    display: grid;
    vertical-align: middle;
    grid-template-columns: repeat(3, 45rem);
    /* 20% */
    grid-gap: 2.5rem;
    justify-content: center;

}

.wrapper-second {
    margin: 1%;
    display: grid;
    vertical-align: middle;
    grid-template-columns: repeat(2, 68.75rem);
    /* 30.5% */
    grid-gap: 2.5rem;
    justify-content: center;
}

.wrapper-about {
    grid-row: 1 / 3;
    display: grid;
    grid-gap: 0.5rem;
}

.wrapper-links {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
    font-size: 3rem;
    padding-top: 10%;
}

.news {
    margin-top: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border: 0.4rem solid aliceblue;
    border-radius: 1.5rem;
    padding: 3%;
    overflow: auto;
    margin-bottom: 5%;
}

.news-title {
    margin: 2.5%;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news-date {
    text-align: right;
    font-size: 1.5rem;
    color: #cccccc;
}


h3 {
    font-size: 1.9rem;
    color: aliceblue;
}

.logo-about {
    vertical-align: middle;
    height: 7.5rem;
}

.logo {
    vertical-align: middle;
    height: 2.5rem;
}

.autumn-timer {
    text-align: center;
    margin: 5%;
    font-size: 900%;
    font-weight: bold;
    color: #f0f0f0;
    /* Основной цвет текста */
    text-shadow:
        0 0 5px #fff,
        /* Светящиеся ореолы */
        0 0 10px #fff,
        0 0 15px #ef7f00,
        /* Красный/оранжевый ореол */
        0 0 20px #ef7f00,
        0 0 25px #ef7f00,
        0 0 30px #ef7f00,
        0 0 35px #ef7f00;
    animation: fire 1.5s infinite alternate;
    /* Применение анимации */
}

@keyframes fire {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #ef7f00,
      0 0 20px #ef7f00,
      0 0 25px #ef7f00,
      0 0 30px #ef7f00,
      0 0 35px #ef7f00;
  }
  100% {
    text-shadow:
      0 0 8px #fff,
      0 0 15px #fff,
      0 0 20px #ff0000,
      0 0 25px #ff0000,
      0 0 30px #ff0000,
      0 0 35px #ff0000,
      0 0 40px #ff0000;
  }
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    border: 0.4rem solid aliceblue;
    max-width: 85%;
    box-sizing: content-box;
    width: 100%;
}

.song {
    border: 4px solid aliceblue;
    border-radius: 1.5rem;
    padding: 1%;
    margin-top: 2.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    display: grid;
    justify-items: center;
}


.main-music-player::after {
    content: "";
    background: url('../images/cd-box.png'), linear-gradient(150deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), 40%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.6));
    background-size: 100% 100%;
    image-rendering: smooth;
    position: absolute;
    top: -5px;
    left: 4.0rem;
    width: 34rem;
    height: 31rem;
    background-repeat: no-repeat;
    pointer-events: none;
}

.main-music-player::before {
    content: "";
    background: url('../images/cd.png');
    position: absolute;
    top: 6rem;
    left: 13rem;
    width: 18rem;
    height: 18rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: left ease 0.5s;
}

.main-music-player:hover:before {
    left: 250px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.music-box .main-music-player {
    position: relative;
    border-style: none;
    padding: 0% 0% 0% 3rem;
    margin: 0%;
    display: grid;
    justify-items: center;
    filter: drop-shadow(0 0 0.25rem gray);
}

.vinyl-gallery * {
    all: unset;
}

.vinyl-gallery {
    all: initial !important;
    width: 100% !important;
    height: 23rem !important;
    margin: 3rem 0% 3rem -70px !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    justify-content: center !important;
    align-items: center !important;
}

.vinyl-gallery .vinyl {
    all: unset !important;
    perspective: 50rem !important;
    width: 2.5rem !important;
    transition: width 0.5s !important;
}

.vinyl-gallery .vinyl:hover {
    width: 18rem !important;
}

.vinyl-gallery img {
    all: unset !important;
    transition: transform 0.5s, width 0.5s, height 0.5s, margin-top 0.5s !important;
    width: 180px !important;
    height: 180px !important;
    transform: rotateX(0deg) rotateY(25deg) !important;
    transform-style: preserve-3d !important;
    border-radius: 4px !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    object-fit: cover !important;
}

.vinyl-gallery .vinyl:hover img {
    transform: rotateX(0deg) rotateY(5deg) !important;
    width: 188px !important;
    height: 188px !important;
    margin-top: -8px !important;
}

.vinyl-gallery .title {
    margin: 0rem 0% 0rem 140px !important;
    font-size: 2.2rem;
    text-align: center;
    color: aliceblue;
    font-family: "myFont", sans-serif;
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: -15px;
    text-align: center;
    width: 100%;
    padding-left: 6px;
}

.vinyl-gallery .vinyl:nth-child(n):hover+.title {
    visibility: visible;
}

#all-pic img {
    width: auto;
    max-height: 30rem;
}


.window {
    width: 65%;
    height: 85%;
    text-align: center;
    padding: 1.5rem;
    border: 3px solid aliceblue;
    border-radius: 1rem;
    color: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(10, 85, 199);
    overflow: auto;
    z-index: 10;

}

.window::after {
    content: 'X';
    position: absolute;
    background: #000000;
    top: 1%;
    left: 96.5%;
    border: 3px solid aliceblue;
    border-radius: 1.1rem;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0.5%;
}

.window::after:hover {
    background: rgb(87, 87, 87);
}

#review-window:target {
    display: block;

}

.close-window {
    display: inline-block;
    padding: 0.5%;
    border: 3px solid aliceblue;
    border-radius: 1.1rem;
    color: aliceblue;
    margin: 1%;
    text-decoration: none;
    background: #000000;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 79%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    z-index: 11;
}

.close-window:hover {
    background: rgb(87, 87, 87);
}

.window-features {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.window-features:target {
    display: block;
}

.indev-box {
    grid-column: 1 / 3;
}

@media (max-width:1023px) {
    footer {
        position: relative;
    }

    .wrapper-main {
        display: block;
    }

    .wrapper-second {
        display: block;
    }

    .wrapper-main>div {
        margin-bottom: 3%;
    }

    .wrapper-second>div {
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .news {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0% 5%;
    }

    #window {
        width: 85%;
        height: 80%;
    }

    .song {
        margin-left: 1%;
        margin-right: 1%;
    }

    .close-window {
        top: 9%;
        left: 85%;
        font-size: 3.5rem;
    }

    .main-music-player::before {
        left: 20rem;
    }

    .main-music-player::after {
        left: 28rem;
    }
    .main-music-player:hover:before {
    left: 20rem;
}
}

@media (1024px <=width <=1440px) {
    .wrapper-main {
        grid-template-columns: repeat(3, 32%);
    }

    .wrapper-second {
        grid-template-columns: repeat(2, 49%);
    }
}